{
  "fs_config": [
    
  ],
  "serviceup_config": [
    
  ],
  "backup_config": [
    {
      
    }
  ],
  "malicious_keys": {
    "php": ["fsockopen", "stream_socket_client", "curl", "shell_exec", "exec", "system"],
    "python": ["socket", "requests", "subprocess", "os.system"],
    "c": ["socket", "send", "recv", "system", "exec"],
    "java": ["Socket", "ServerSocket", "Runtime.getRuntime().exec"],
    "javascript": ["net", "http", "dgram", "tls", "child_process.exec", "child_process.spawn"],
    "bash": ["nc", "curl", "wget", "ss", "telnet", "nmap", "$(command)", "command", "exec", "sh"],
    "go": ["net.Dial", "net.Listen", "http.Get", "http.Post", "exec.Command", "os/exec"],
    "ruby": ["Net::HTTP", "Net::FTP", "Socket", "UDPSocket", "system", "exec", "IO.popen"],
    "rust": ["TcpStream", "UdpSocket", "Reqwest", "hyper", "std::process::Command"],
    "perl": ["IO::Socket", "LWP::UserAgent", "Net::FTP", "Net::HTTP", "system", "exec"]
  },
  "malicious_dirs": [
    
  ]
}
